.app{
  padding: 30px;
  text-align: -webkit-center;}

.game{
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  box-shadow: 5px 10px 20px #888888;
  margin-top: -25px;
}

.game img{
  width: 70px;
  height: 70px
}

.title{
  font-size: 40px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: indianred;
  margin-top: -30px;
}

.score-board{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: indianred;
  font-size: 20px;
  margin-top: -25px;
}

.footer{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: indianred;
  font-size: 25px;
}